/*Image Sprite Here*/


#social{

	margin-left: auto;
	margin-right: auto;
	width: 192px;
	height: 48px;
}



#social{

	height: 80px;
	width: 300px;
	margin-left: 41%;
}


#social ul li{

	float: left;
	list-style: none;


}


#social ul li a{

	background: url(social.png) no-repeat;
	display: inline-block;
	height: 48px;
	width: 48px;
	text-indent: -9999px;

}


#social ul li:first-child a{

	background-position: 0 0;
}

#social ul li:first-child a:hover{

	background-position: 0 -48px;
}

#social ul li:nth-child(2) a{

	background-position: -48px 0;
}

#social ul li:nth-child(2) a:hover{

	background-position: -48px -48px;
}

#social ul li:nth-child(3) a{

	background-position: -96px 0;
}

#social ul li:nth-child(3) a:hover{

	background-position: -96px -48px;
}

#social ul li:last-child a{

	background-position: -144px 0;
}

#social ul li:last-child a:hover{

	background-position: -144px -48px;
}