/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*
font-family: 'Miniver', cursive;
font-family: 'Domine', serif;
*/


/*main styling*/


body{


}


html{

	background-image: url(../images/bkgd1.jpg);

}


h1{

	font-family: 'Miniver', cursive;
	font-weight: 400;
	font-size: 100px;
	vertical-align: middle;
	margin-left: 550px;

}

h2, h3, h4, h5, h6{

	font-family: 'Miniver', cursive;
	font-weight: 400;
	font-size: 30px;
	margin-top: 10px;
	color: #FBB03B;

}


p{

	font-family: 'Domine', serif;
	font-size: 12px;
	color: #6d6d6d;
	line-height: 25px;


}

header{

	width: auto;
	/*background-color: rgba(0, 255, 29, 30%);*/

}

#headerwel{

	color: #fff;
}

/*Sticky nav */

#navigation{ 

	position: fixed;
	z-index: 10;
	background-image: url(../images/bkgdpic.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 200px;
	width: 1200px;
	border-bottom: 3px solid #494949;

} 



#mainnav{

	margin-top: -15px;
	padding-right: 50px;
	text-align: right;
} 


.ch_logo{

	width: 275px;
	margin-left: 50px;
	margin-top: 10px;
}



.navlist{

	display: inline;
	padding-right: 60px;

}

li .navlist{

	float: right;
}



a{

	font-family: 'Domine', serif;
	font-size: 16px;
	text-decoration: none;
	color: #fff;

}


#maincont{

	margin: 0 auto;
	position: relative;
	width: 1200px;
	background-color: white;
		
}


#about{

position: absolute;
margin-top: 20px;
padding-left: 50px;
color: #ffbf40;
-moz-text-shadow: 3px 5px 8px rgba(0, 0, 0, .3);
-webkit-text-shadow: 5px 7px 8px rgba(0, 0, 0, .3);
text-shadow: 5px 7px 8px rgba(0, 0, 0, .3);
font-size: 60px;

}



#story #chabout{

	height: auto;
	position: relative;
	background-color: white;
	padding: 50px;
	-webkit-column-count:3; /* Safari, Chrome */
	-webkit-column-gap:20px; /* Safari, Chrome */
	-moz-column-count:3; /* Firefox */
	-moz-column-gap:20px; /* Firefox */
	column-count:3; /* Everyone Else */
	column-gap:20px;
	-webkit-column-rule: 1px outset #494949;
	-moz-column-rule: 1px outset #494949;
	column-outset: 1px outset #494949;
	width: auto;

	

}




#storypic{

	width: auto;
	height: auto;
	display: inline-block;
	margin-left: 160px;
	margin-top: 250px;
	border: 1px solid;
	box-shadow: 10px 10px 5px rgba(0, 0, 0, .3);
	margin-bottom: 10px;
	max-height: 444px;
}



footer{

	background-color: #494949;
}

#copyright{

	font-size: 12px;
	text-align: center;
	margin-top: 20px;
	color: #fff;
}