/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}



/*main styling*/

aside, article, section, header, footer, nav{

	display: block;
}

body{

	padding: 0 0 25px;
	width: 900px;
	background-color: #209467;
	/*background: -moz-linear-gradient(top, #345902 0%, #789325 100%);
	background: -webkit-linear-gradient(top, #345902 0%, #789325 100%);
	background: linear-gradient(top, #345902 0%, #789325 100%);*/
	background: #1e5799; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzI5ODlkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzIwN2NjYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZTU3OTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 50%, #207cca 51%, #1e5799 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#1e5799 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#1e5799 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#207cca 51%,#1e5799 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#1e5799',GradientType=0 ); /* IE6-8 */

	margin: 0 auto;
}


p, ul, ol, li{ 

	font-family: 12px 'Cambo', serif;
	font-weight: 400;

}

h1{

	font: 500 100px 'Arizonia', cursive;
	text-align: center;
	-moz-text-shadow: 10px 10px 5px rgba(0, 0, 0, .7);
	-webkit-text-shadow: 10px 10px 5px rgba(0, 0, 0, .7);
	text-shadow: 10px 10px 5px rgba(0, 0, 0, .7);


}

h2, h3{

	font: 36px 'Arizonia', cursive;
	font-weight: 100;

}


a{

	text-decoration: none;
}


#container{

	background-color: #fff;
	position: relative;
}

header{

	background-image: url(../images/Header.jpg);
	background-repeat: no-repeat;
	background-size: 100%;

}


#navContainer{

	background-color: rgba(0, 0, 0, .5);
	height: 40px;
	margin-top: 115px;

}


#navSec{

	padding-top: 10px;	
}


.mainNav{
	
	display: inline;
	color: #fff;
	padding-left: 15px;
	padding-right: 15px;

}

#tagline{

	font: 20px 'Cambo', serif;
	font-size: 20px;
	float: right;
	margin-right: 50px;

}

#section1{

	background-image: url();
	width: 240px;
	height: 240px;
	background-color: #451089;
	display: inline-block;
}

#section2{

	background-image: url();


}

#section3{

	background-image: url();


}

#section4{

	background-image: url();


}

#section5{

	background-image: url();


}

#section6{

	background-image: url();


}


article{

	width: 200px;
	height: 240px;

}


footer{



}
